{% set total_ram_kb = ansible_memtotal_mb * 1024 %}
{% set min_free = [((total_ram_kb * 1.5 / 100) | int), 16384] | max %}
{% set min_free = [min_free, 196608] | min %}
{% set admin_reserve = [((total_ram_kb * 0.5 / 100) | int), 4096] | max %}
{% set admin_reserve = [admin_reserve, 16384] | min %}
{% if total_ram_kb < 2097152 %}
{% set watermark_scale = 150 %}
{% else %}
{% set watermark_scale = 150 %}
{% endif %}

vm.min_free_kbytes={{ min_free }}
vm.admin_reserve_kbytes={{ admin_reserve }}
vm.watermark_scale_factor={{ watermark_scale }}
