[main]
include=desktop

[cpu]
governor=performance
energy_performance_preference=performance
boost=1
max_perf_pct=100
min_perf_pct=25

[kernel]
nmi_watchdog=0
sched_autogroup=0

[vm]
transparent_hugepages=always
transparent_hugepages_defrag=never

[audio]
timeout=0
alsa_buffer_size=64

[scheduler]
runtime=0
nr_rqs=1024
sched_migration_cost_ns=500000
sched_min_granularity_ns=3000000
sched_wakeup_granularity_ns=4000000

[sysctl]
kernel.timer_migration=0
vm.zone_reclaim_mode=0
vm.dirty_ratio=5
vm.dirty_background_ratio=2
vm.vfs_cache_pressure=50
vm.swappiness=5
kernel.sched_latency_ns=6000000
kernel.sched_migration_cost_ns=500000
kernel.sched_min_granularity_ns=3000000
kernel.sched_wakeup_granularity_ns=4000000
vm.compaction_proactiveness=0
vm.page_lock_unfairness=1

[service]
service.stopped=abrtd,abrt-journal-core,cups,fwupd,geoclue,ModemManager,packagekit,upower
