
[main]
include=virtual-guest

[cpu]
governor=schedutil
energy_performance_preference=balance_performance
boost=1

[kernel]
nmi_watchdog=0

[vm]
transparent_hugepages=defer

[sysctl]
kernel.timer_migration=0
vm.zone_reclaim_mode=0
