[defaults]
inventory = inventories/localhost/hosts.yml
roles_path = roles
retry_files_enabled = false
stdout_callback = yaml
callback_whitelist = timer

[privilege_escalation]
become = true
become_method = sudo
become_user = root
